/* google Font link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather";
}

section {
    max-width: 1320px;
    margin: 0 auto;
}

.bannar-section {
    max-width: 1320px;
    margin: 3.12em auto 0;
    border-radius: 1em;
    height: 600px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("./images/Banner\ Image.png");
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannar-section>h3 {
    font-size: 2em;

}

.bannar-section>h1 {
    font-size: 4.5em;
    font-weight: 900;

}

/* off section style start */
.off-section {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625em;
}

.off-section>.off {
    color: rgb(255, 0, 0);
    font-size: 5.5em;
    font-weight: 700;
}

.deals {
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    font-weight: 500;
}

.categories {
    color: rgb(7, 2, 17);
    font-size: 3em;
    font-weight: 700;
}

.midnight-party-section {
    height: 600px;
    margin: 3.125em auto;
    border-radius: 1em;
    color: white;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("./images/Vectorrr.png");
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.midnight-party-section>div>h1 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-weight: 900;

}

.midnight-party-section>div>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 1.125em;
    margin: 1.25em 0;
}

.midnight-party-section>div>a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

.registation-section {
    height: 482px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0)100%);
    margin-bottom:3.125;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;

}

.registation-section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.registation-section>div>p {
    font-size: 2em;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
}

.common-color {
    color: rgb(255, 0, 0);
}

.btn {
    border-radius: 0.5em;
    background: rgb(255, 0, 0);
    padding: 1em 2em;
    color: rgb(255, 255, 255);
    font-size: 1.25;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.coming-soon-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7.5em 0;

}

.best-offer-sub-taitel {
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    font-weight: 500;
}

.best-offer {
    width: 393px;
}

.coming-soon {
    color: rgb(7, 2, 17);
    font-size: 3em;
    font-weight: 900;
    text-transform: capitalize;
    margin: 1.25em 0;
}

.coming-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.25em;
    font-weight: 400;
}

.coming-soon-2024 {
    width: 300px;
}

.coming-soon-2024>h3 {
    color: rgb(255, 0, 0);
    font-size: 3em;
    font-weight: 700;
}

.coming-soon-img {
    width: 463px;
    box-sizing: border-box;


}

.holiday-contant>h4 {
    color: rgb(7, 2, 17);
    font-size: 1.5em;
    text-align: center;
}

.holiday-contant>h2 {
    font-size: 4.5em;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday-contant>h2>samp {
    color: rgb(255, 0, 0);
}

.holiday-contant>p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.25em;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.coming-soon-img>img {
    width: 100%;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 1em;
}

.Holidays-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    
}

.holiday-img {
    position: relative;
    width: 100%

}
.regten >img {
    position: relative;
    width: 100%;


}

.img-1,
.img-2 {
    position: absolute;
    z-index: 1;
}

.img-2 {
    right: 0;
    bottom: 190px;
}

.img-1 {
    left: 1.25em;
    bottom: 0px;
    width: 500px;
}

.img-1>img {
    width: 100%;
}

/* gift-section style sratr here */
.gift-section-contant {
    margin: 3em auto;
}

.gift-section-contant>.gift {
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
}

.gift-section-contant>h3 {
    color: rgb(7, 2, 17);
    font-size: 3em;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    text-transform: capitalize;
}

.gift-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.25em;
    font-weight: 400;
    text-align: left;
    width: 70%;
}

.gift-section-img {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

/* gift-section style end  here */
.Subscribe-Newsletter {
    height: 616px;
    border-radius: 16px;
    margin: 7.5em 0;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.Subscribe-Newsletter>h3 {
    color: rgb(7, 2, 17);
    font-size: 3em;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
}

.Subscribe-Newsletter>p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.5em;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    width: 70%;

}

.input-email {
    border: none;
    border-radius: 3.125em 0 0 3.125em;
    background: rgb(255, 255, 255);
}

input[placeholder] {
    color: rgba(7, 2, 17, 0.3);
    font-size: 1.125em;
    font-weight: 400;

}

input[type] {
    padding: 24px 56px;
    color: rgba(7, 2, 17, 0.3);
    font-size: 1.125em;
    font-weight: 400;
    color: rgb(255, 255, 255);

}

.inpute-submit {
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);

    font-size: 1.25em;
    font-weight: 600;
    text-transform: capitalize;

}

footer {

    margin: 0 auto;
    background-color: black;
    max-width: 1600px;
    width: 100%;
    height: 609px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.address,
.copy-wright {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.address a {
    font-family: Inter;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    color: white;
    text-decoration: none;
}

address {
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
}

.call-number,
.email {
    display: flex;
    align-items: center;
    gap: 0.3125em;
    margin-bottom:0.625em;
}

.icon {
    width: 64px;

}

.icon img {
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
